
  
  body {
    background-color: 'black' ;
    background-image: url("belly1.jpg");
    color: black;
  }
.jumbotron {
    background-image: url("belly.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  .navbar  {
    background-image: url("belly2.jpg");
    overflow: hidden;
    color: black;
  }
  ul {
    list-style-type: none;
    text-align: right;
    font-size: x-large;
    color: cornsilk;
  }